@model List<CitasApp.Models.Medico>

<h1>Médicos disponibles</h1>

<a asp-controller="Medico" asp-action="Create">Agregar médico</a>

<br />
<br />

<table border="1" cellpadding="8">
    <tr>
        <th>Nombre</th>
        <th>Especialidad</th>
        <th>Detalles</th>
    </tr>

    @foreach (var m in Model)
    {
        <tr>
            <td>@m.Nombre @m.Apellido</td>
            <td>@m.Especialidad</td>
            <td>
                <a asp-controller="Medico" asp-action="Detalle" asp-route-id="@m.Id">Ver detalle</a>
            </td>
        </tr>
    }
</table>